body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.rs-title {
  color: #337ab7
}

  .rs-title p{
    font-size: 16px;
    text-align: center;
    margin-top: 0%;
  }

.rs-title-button {
  font-size: 14px;
  align: center;
  /*color: #337ab7;*/
  /*margin-top: -10px;*/
  /*margin-left: 15%;*/
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.horizontal-center {
  left: 50%;
  padding-left: 50%;
}

.rs-label {
  color: #777;
  font-style: normal;
  font-weight: normal;
}

.navbar-brand {
  color: #337ab7;
}

.rs-navbar {
    margin-bottom: 0px;
}